@import "./mixin"
@import "./variable"

.blog-banner
  padding-top: 120px
  padding-bottom: 80px

  @include desktop
    padding-top: 40px
    padding-bottom: 40px

  h2
    margin-bottom: 24px

  .sub-title
  text-align: center
  line-height: 24px
  color: $gray

.blog-container
  display: flex
  justify-content: space-between
  padding-bottom: 120px

  @include desktop
    flex-direction: column-reverse

.articles
  width: 70%

  @include desktop
    width: 98%
    margin: 0 auto

  li
    display: flex
    margin-bottom: 64px

    &:last-child
      margin-bottom: 0

    @include pad
      flex-direction: column
      margin: 0 34px
      margin-bottom: 40px

  img
    // max-width: 306px
    width: 100%
    border-radius: 8px
    border: 1px solid $light-white
    margin-right: 16px

    @include pad
      margin: 0 auto
      margin-bottom: 16px

  .details
    margin-bottom: 16px

    @include pad
      text-align: center

  .date
    color: $secondary
    margin-right: 16px

  .tag
    padding: 4px 12px
    border-radius: 16px
    background-color: $light-white
    color: $primary

  h3>a
    +font(20px, 1.2, 600)
    color: $primary
    margin-bottom: 16px

    &:hover
      color: $secondary

  p
    color: $primary

    @include pad
      text-overflow: ellipsis
      overflow: hidden
      display: -webkit-box
      -webkit-box-orient: vertical
      -webkit-line-clamp: 3

.article-types
  width: 25%
  background-color: #FAFAFA
  padding: 80px

  @include desktop
    width: 100%
    display: flex
    justify-content: space-between
    padding: 0px
    margin-bottom: 40px
    overflow-x: auto
    white-space: nowrap
    webkit-overflow-scrolling: touch
    -ms-overflow-style: -ms-autohiding-scrollbar

  .active
    display: inline-block
    color: #1E1E1E
    border-bottom: 2px solid #1E1E1E
    padding-bottom: 4px
    margin-bottom: 32px

    &:hover
      color: $secondary
      border-bottom: 2px solid $secondary

    @include desktop
      margin-bottom: 0

  @include desktop
    display: flex
    justify-content: space-between

  li>a
    display: inline-block
    font-size: 20px
    color: $secondary
    margin-bottom: 32px
    padding-bottom: 4px
    border-bottom: 2px solid rgba(0,0 ,0 ,0)
    transition: all .5s

    @include desktop
      margin-bottom: 0
      padding: 20px

    &:hover
      color: #1E1E1E
      border-bottom: 2px solid #1E1E1E
