@import "./scss/reset.scss";
@import "./scss/mixin.scss";

.cards {
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include lgscreen {
    justify-content: center;
  }
}

.card {
  margin-top: 72px;
  margin-bottom: 80px;
  line-height: 1.2;

  img {
    height: 400px;
    width: 636px;
    margin: 0 auto 16px auto;
    border-radius: 8px;

    @include desktop {
      height: auto;
    }

    @include smscreen {
      width: 351px;
    }
  }

  &-bottom {
    padding: 0 16px;
  }

  h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #3b3b3b;

    @include smscreen {
      font-size: 20px;
    }
  }

  h3 {
    margin-bottom: 24px;
    color: #919191;
  }
}

.tags {
  display: flex;

  li {
    padding: 4px 12px;
    border-radius: 16px;
    background-color: #f1f1f1;
    color: #3b3b3b;
    margin-right: 16px;
  }
}
