doctype html
html(lang="zh-TW")
 head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Noel 個人網站
  link(rel="stylesheet", href="../../all.css")
 body 
 .wrap
  .header
   h1
    a.logo(href="index.html") Noel 
   ul.menu
    li
     a(href="") 首頁
    li
     a(href="") 作品集
    li
     a(href="") 服務項目
    li
     a(href="") 部落格
    li
     a(href="") 聯絡我
  .footer
   .container
    .about 
     a.logo(href="")
     p 若有數位產品設計和開發相關問題
      br
      | 歡迎填寫表單，或直接與我聯絡！ 
     a.mail-link(href="mailto:service@hexschool.com") service@hexschool.com 
    ul.link-list 
     li
      a(href="") 
       img(src="../../img/list.svg", alt="")
       |填寫表單
     li
      a(href="") 
       img(src="../../img/instagram.png" alt="")
       |hexschool_demo
     li
      a(href="") 
       img(src="../../img/facebook.png" alt="")
       |hexschoolTW
