@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  max-width: 100%;
}

body {
  font-family: "Noto Sans ", "Noto Sans TC", sans-serif;
}

.wrap {
  overflow: hidden;
}

.logo {
  background-image: url(./img/logo.svg);
  background-size: contain;
  width: 90px;
  height: 40px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.container-title {
  color: #3B3B3B;
  text-align: center;
  font-weight: bold;
  margin-bottom: 80px;
  font-size: 32px;
  line-height: 38.4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 375px) {
  .container-title {
    font-size: 24px;
    line-height: 28.8px;
  }
}
.container-title::before {
  width: 100px;
  height: 6px;
  content: "";
  background-image: url(./img/title-deco-left-lg.png);
  margin-right: 16px;
}
.container-title::after {
  width: 100px;
  height: 6px;
  content: "";
  background-image: url(./img/title-deco-right-lg.png);
  margin-left: 16px;
}

.d-none {
  display: none;
}

@media (max-width: 992px) {
  .d-desk-block {
    display: block;
  }
}
@media (max-width: 375px) {
  .d-desk-block {
    display: none;
  }
}

@media (max-width: 375px) {
  .d-sm-block {
    display: block;
  }
}

.wrap {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  max-width: 1296px;
  margin: 0 auto;
  padding: 28px;
  position: relative;
  border-bottom: 1px solid #F1F1F1;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(50%);
}

.menu {
  display: flex;
  justify-content: center;
}
.menu li {
  margin-right: 40px;
}
.menu li:last-child {
  margin-right: 0;
}
.menu li a {
  padding: 4px 8px;
  line-height: 24px;
  color: #000000;
}
.menu li a.active {
  background-image: url(./img/menu-active.png);
  background-size: cover;
  background-position: center;
  font-weight: bold;
}

.footer {
  background-image: url(./img/footer-bg-lg.png);
  background-size: cover;
}
.footer .container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .footer .container {
    padding: 80px 0;
    flex-direction: column;
  }
  .footer .container .logo {
    margin: 0 auto;
  }
  .footer .container .about > a {
    text-align: center;
    margin-bottom: 40px;
  }
}
.footer .container .about a {
  margin-bottom: 24px;
  line-height: 24px;
}
.footer .container .about p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 24px;
}

.link-list li:first-child a {
  background-color: #000;
  color: #fff;
}
.link-list a {
  font-size: 20px;
  line-height: 30px;
  padding: 8px 24px;
  border: 1px solid #C1C1C1;
  color: #3B3B3B;
  border-radius: 8px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.link-list a img {
  margin-right: 8px;
}

.mail-link {
  color: #919191;
}

.banner-homepage {
  background: right/contain no-repeat url(./img/banner.png);
  margin-bottom: 120px;
  padding: 248px 0;
}
@media (max-width: 992px) {
  .banner-homepage {
    padding: 0;
    background-image: none;
  }
}
.banner-homepage .intro {
  max-width: 1296px;
  margin: 0 auto;
}
.banner-homepage .intro h2 {
  font-size: 40px;
  line-height: 48px;
  color: #3B3B3B;
  font-weight: bold;
  margin-bottom: 24px;
}
@media (max-width: 1280px) {
  .banner-homepage .intro {
    width: 70%;
    margin: 0;
    margin-left: 10%;
  }
}
@media (max-width: 992px) {
  .banner-homepage .intro {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
}
.banner-homepage p {
  color: #5B5B5B;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
}
.banner-homepage .job-text {
  font-size: 16px;
  line-height: 24px;
  color: #C1C1C1;
  margin-bottom: 60px;
}
.banner-homepage .social-links {
  display: flex;
}
@media (max-width: 992px) {
  .banner-homepage .social-links {
    justify-content: center;
  }
}
.banner-homepage a {
  margin-right: 16px;
}
.banner-homepage a:last-child {
  margin-right: 0;
}

.works > li {
  padding-bottom: 0;
  margin: 0 auto;
  display: flex;
  background-size: cover;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 0;
}
.works > li:first-child {
  background-image: url(./img/homepage-work1-bg.png);
}
@media (max-width: 1280px) {
  .works > li:first-child {
    flex-wrap: wrap;
    background-position: top;
    background-repeat: no-repeat;
  }
}
.works > li:first-child img {
  margin-top: auto;
}
@media (max-width: 1280px) {
  .works > li:first-child img {
    width: 48%;
  }
}
@media (max-width: 992px) {
  .works > li:first-child img {
    width: 80%;
    margin-top: 93px;
  }
}
.works > li:first-child:after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
@media (max-width: 1280px) {
  .works > li:first-child:after {
    display: none;
  }
}
.works > li:nth-child(2) {
  background-image: url(./img/homepage-work2-bg.png);
}
@media (max-width: 1280px) {
  .works > li:nth-child(2) {
    flex-wrap: wrap;
    background-position: top;
    background-repeat: no-repeat;
  }
}
.works > li:nth-child(2) img {
  opacity: 0;
}
@media (max-width: 375px) {
  .works > li:nth-child(2) img {
    opacity: 100%;
    width: 100%;
  }
}
.works > li:nth-child(2) .work-intro {
  transform: translateX(-90%);
}
@media (max-width: 1280px) {
  .works > li:nth-child(2) .work-intro {
    transform: translateX(-60%);
  }
}
@media (max-width: 992px) {
  .works > li:nth-child(2) .work-intro {
    transform: translateX(0);
  }
}
.works > li:nth-child(2):after {
  content: "";
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
@media (max-width: 992px) {
  .works > li:nth-child(2):after {
    display: none;
  }
}
.works > li:nth-child(3) {
  background-image: url(./img/homepage-work3-bg.png);
}
@media (max-width: 1280px) {
  .works > li:nth-child(3) {
    flex-wrap: wrap;
    background-position: top;
    background-repeat: no-repeat;
  }
  .works > li:nth-child(3) img {
    margin-top: auto;
  }
}
@media (max-width: 1280px) and (max-width: 1280px) {
  .works > li:nth-child(3) img {
    width: 48%;
  }
}
@media (max-width: 1280px) and (max-width: 992px) {
  .works > li:nth-child(3) img {
    width: 80%;
    margin-top: 93px;
  }
}

.work-intro {
  padding: 80px 40px 56px 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  color: #FFFFFF;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin: 200px 0;
}
@media (max-width: 1280px) {
  .work-intro {
    margin: 24px;
  }
}
@media (max-width: 992px) {
  .work-intro {
    width: 100%;
    background-color: #fff;
    border-radius: 0;
    margin: 0;
    text-align: center;
    padding: 24px 0;
  }
}
.work-intro h3 {
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
  margin-bottom: 8px;
}
@media (max-width: 992px) {
  .work-intro h3 {
    color: #1e1e1e;
  }
}
.work-intro p {
  line-height: 24px;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .work-intro p {
    color: #5b5b5b;
  }
}
.work-intro .tags {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #f1f1f1;
  line-height: 24px;
}
@media (max-width: 992px) {
  .work-intro .tags {
    justify-content: center;
    border: none;
    margin-bottom: 0;
  }
}
.work-intro .intro-btn {
  width: 176px;
  margin: 0 auto;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  background-color: #000;
  padding: 16px 32px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.work-intro .intro-btn span {
  font-size: 20px;
  line-height: 30px;
}

.service-container {
  background-image: url(./img/homepage-services-bg.png);
  padding: 120px 0;
}

.service-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1296px;
  margin: 0 auto;
  margin-bottom: 56px;
}
@media (max-width: 992px) {
  .service-items {
    justify-content: space-evenly;
  }
}
@media (max-width: 375px) {
  .service-items {
    justify-content: center;
  }
}
.service-items li {
  text-align: center;
  background-image: url(./img/service-item-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 97px;
  border-radius: 16px;
  color: #fff;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 24px;
}
.service-items li img {
  margin: 0 auto;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .service-items li {
    padding-left: 0;
    padding-right: 0;
    width: 48%;
  }
}
@media (max-width: 375px) {
  .service-items li {
    width: 90%;
  }
}
.service-items h3 {
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

.btn {
  padding: 16px 32px;
  background-color: #000;
  color: #fff;
  width: 276px;
  margin: 0 auto;
  border-radius: 8px;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  justify-content: center;
}
.btn span {
  font-size: 20px;
  line-height: 32px;
}

.more {
  font-size: 28px;
  line-height: 33.6px;
  color: #3B3B3B;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.swiper-container {
  padding: 120px 0;
}

swiper-container {
  --swiper-pagination-color: #000000;
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

.swiper-cards {
  max-width: 1296px;
  margin: 0 auto;
}
.swiper-cards a {
  color: #3B3B3B;
}
.swiper-cards img {
  border-radius: 8px;
  margin-bottom: 16px;
}
.swiper-cards h3 {
  padding: 0 8px;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
  font-weight: bold;
}
.swiper-cards .content {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
}

.tag {
  padding: 4px 12px;
  border-radius: 16px;
  background-color: #f1f1f1;
  color: #3b3b3b;
  margin-right: 16px;
}

.date {
  color: #5b5b5b;
}

swiper-slide.swiper-card {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  swiper-slide.swiper-card {
    width: 100%;
  }
}

.banner {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #FAFAFA;
}

.container {
  max-width: 670px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .container {
    max-width: 300px;
  }
}

.slogan h2 {
  font-size: 24px;
  line-height: 28.8px;
  color: #1E1E1E;
  text-align: center;
}
@media (max-width: 767px) {
  .slogan h2 {
    margin-bottom: 40px;
  }
}
.slogan h2 h2 {
  font-size: 20px;
  line-height: 30px;
}

.first-slogan {
  margin-bottom: 16px;
}

.focus {
  background: no-repeat url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true);
  background-position: bottom;
  background-size: contain;
}

.material-icons {
  display: block;
  font-size: 72px;
  color: #E9E9E9;
}

@media (max-width: 767px) {
  .quote-left {
    margin: 0 auto;
  }
}

.quote-right {
  margin-left: auto;
}
@media (max-width: 767px) {
  .quote-right {
    display: none;
  }
}

.experiences {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 24px;
  text-align: center;
}
.experiences li {
  width: 45%;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .experiences li {
    width: 100%;
    margin-bottom: 20px;
  }
}
.experiences .title {
  color: #5B5B5B;
  position: relative;
  margin-bottom: 8px;
}
.experiences .title:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 24px;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  background: #C1C1C1;
}

.cards {
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1280px) {
  .cards {
    max-width: 1200px;
  }
}
@media (max-width: 992px) {
  .cards {
    justify-content: center;
  }
}

.card {
  margin-top: 72px;
  margin-bottom: 80px;
  line-height: 1.2;
  width: calc(50% - 12px);
}
@media (max-width: 992px) {
  .card {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .card {
    width: 90%;
  }
}
@media (max-width: 375px) {
  .card {
    width: 100%;
  }
}
.card img {
  height: 400px;
  margin: 0 auto 16px auto;
  border-radius: 8px;
}
.card-bottom {
  padding: 0 16px;
}
.card h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #3b3b3b;
}
.card h3 {
  margin-bottom: 24px;
  color: #919191;
}

.tags {
  display: flex;
}
.tags li {
  padding: 4px 12px;
  border-radius: 16px;
  background-color: #f1f1f1;
  color: #3b3b3b;
  margin-right: 16px;
}

.pages {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}
.pages li:first-child {
  background: #1E1E1E;
  border-radius: 4px;
  margin: 0 8px;
}
.pages li:first-child a {
  color: #FFFFFF;
}
.pages a {
  padding: 2px 13px;
  font-size: 24px;
  line-height: 36px;
  color: #3B3B3B;
}/*# sourceMappingURL=all.css.map */